{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Support Ticket</h1>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6 offset-md-3">
						<div id="view-ticket-div">
							<form id="ticket_send_form" method="POST" action="{{ url_for('view_ticket', ticket_id=ticket) }}" enctype="multipart/form-data">
								<div class="form-group">
									<div class="form-control" style="border-style:solid; color:black; height:600px !important; overflow-y:auto">
										{% for message_id in ticket_conversation %}
											<div id="{{ message_id.id }}">
												<span><b>{{ message_id.time }}-{{ message_id.sender }}</b></span><br>
												{% if message_id.message %}
													<small>{{ message_id.message }}</small><br>
												{% endif %}
												{% if message_id.files|length > 0 %}
													<details>
														<summary><small>{{ message_id.files|length }} files uploaded</small></summary>
														<ul>
															{% for file in message_id.files %}
															<li><small>{% for name in file %}<a href="{{ url_for('download_file', file_id=name, filename=file[name]) }}">{{ file[name] }}</a>{% endfor %}</small></li>
															{% endfor %}
														</ul>
													</details>
												{% endif %}
												<br>
											</div>
										{% endfor %}
									</div>
								</div>
								<div class="form-group" {% if "Closed" in ticket_info.state %} style="display:none" {% endif %}>
									<label for="ticket-send-message">Enter Your Message</label>
									<textarea class="form-control" name="message" id="ticket-send-message" rows="2"></textarea>
								</div>

								<div class="form-group" {% if "Closed" in ticket_info.state %} style="display:none" {% endif %}>
									<label for="ticket-add-file">Add a File<br>
										<small class="form-text text-muted">Attach multiple files using Control+Click or Cmd+Click</small>
										<small id="size-error-label" style="color:red; display:none">Please keep the size of the files below 10Mb</small>
									</label>
									<input class="form-control-file" type="file" name="file" id="ticket-add-file" multiple="multiple">
										<sub class="form-text text-muted">Maximum size of 10Mb</sub>
								</div>
								{% if "Admin" in access %}
									<div class="form-group">
										<label for="ticket-state" class="control-label">Change Ticket State</label>
										<select class="form-control custom-select" id="ticket-state" name="ticket-state">
											<option>Submitted</option>
											<option>In Progress</option>
											<option>Closed</option>
										</select>
									</div>
								{% endif %}
								{% if "User" in access and "Submitted" not in ticket_info.state %}
									<div class="form-group">
										<label for="ticket-state" class="control-label">Change Ticket State</label>
										<select class="form-control custom-select" id="ticket-state" name="ticket-state">
											<option>In Progress</option>
											<option>Closed</option>
										</select>
									</div>
								{% endif %}
								{% if "User" in access and "Submitted" in ticket_info.state %}
									<input name='ticket-state' type='hidden' value="Submitted">
								{% endif %}
								<input id="nonce" name='nonce' type='hidden' value="{{ nonce }}">
							</form>
							<div>
								<button class="btn btn-primary float-right" id="submit-ticket">Send</button>
							</div>
						</div>
						<br>
						<div id="create-ticket-entry-div">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		setTimeout("location.reload(true);", 180000);
		var access = "{{ access }}";
		var ticket_conversation = {
			{% for message_info in ticket_conversation %}
				{{ message_info.id }}:{"time":"{{ message_info.time }}", "sender":"{{ message_info.sender }}", "message":"{{ message_info.message }}", "files":[
					{% for path in message_info.files %}
						"{{ path }}",
					{% endfor %}]},
			{% endfor %}
		};
		var ticket_info = {"category":"{{ ticket_info.category }}", "challenge":"{{ ticket_info.challenge }}", "description":"{{ ticket_info.description }}", "state":"{{ ticket_info.state }}"};
		{% if "Admin" in access or "Submitted" not in ticket_info.state %}
			document.getElementById("ticket-state").value = "{{ ticket_info.state }}";
		{% endif %}
	</script>
	<script src="{{ request.script_root }}/support-ticket/static/support_ticket_view.js"></script>

{% endblock %}
