{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Support Ticket</h1>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form id="ticket-edit">
					<div class="form-group">
						<div class="row mh-100">
							<div class="col-md-6">
								<div class="row mh-100">
									<div class="col-md-6">
										<label>
											<b>Creator:</b> {{ ticket_info.creator }}
										</label>
									</div>
									<div class="col-md-6">
										<label {% if "Submitted" in ticket_info.state %} style="background:orange; color:white" {% elif "In Progress" in ticket_info.state %} style="background:green; color:white" {% elif "Closed" in ticket_info.state %} style="background:red; color:white" {% endif %}>
											{{ ticket_info.state }}
										</label>
									</div>

									<div class="col-md-6">
										<label>
											<b>Challenge Category:</b> {{ ticket_info.category }}
										</label>
									</div>
									<div class="col-md-6">
										<label>
											<b>Challenge Name:</b> {{ ticket_info.challenge }}
										</label>
									</div>

									<div class="col-md-12">
										<label>
											<b>Description:</b> {{ ticket_info.description }}
										</label>
									</div>

									<div class="col-md-12">
										<label>
											<a href="{{ url_for('view_ticket', ticket_id=ticket_info.id) }}">Link to Conversation</a>
										</label>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<label>
									<b>Files:</b>
								</label>
								<table class="table table-striped">
									<thead>
										<tr>
											<td width="10px">
												<b>ID</b>
											</td>
											<td class="text-center">
												<b>Name</b>
											</td>
											<td class="text-center">
												<b>Size</b>
											</td>
											<td class="text-center" width="10px">
												<b>Settings</b>
											</td>
										</tr>
									</thead>
									<tbody>
										{% for file_info in file_list %}
											<tr>
												<td width="10px">
													{{ file_info.id }}
												</td>
												<td class="text-center">
													{{ file_info.filename }}
												</td>
												<td class="text-center">
													{{ file_info.size }}
												</td>
												<td class="text-center" width="10px">
													<span data-toggle="tooltip" data-placement="top" title="Download File">
														<a href="{{ url_for('download_file', file_id=file_info.id, filename=file_info.filename) }}"><i class="btn-fa fas fa-download"></i></a>
													</span>
													<span data-toggle="tooltip" data-placement="top" title="Delete File">
														<a href="{{ url_for('delete_file', file_id=file_info.id) }}"><i class="btn-fa fas fa-times"></i></a>
													</span>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}

{% block scripts %}
	<script type="text/javascript">

	</script>
{% endblock %}

{% block entrypoint %}
{% endblock %}
